@import "sandbox.less";
@import "surenteteistex.less";

#istex-web-header{
  .srent, .srentss{
    background-color: #fff;
  }
  .srent{
    margin-top: 5px;
    border:1px solid #eaeade;
    padding:0;
    img{
      vertical-align: middle;
    }
  }
}

#dokuwiki__site{
  position: relative;
}