<header>
	<nav id="istex__web-header">
		<ul>
			<li id="header_logo">
				<a href="https://www.istex.fr/">
					<img src="img/istex-logo.svg">
				</a>
			</li>
			<li id="header_notif">
				<a href="https://twitter.com/projet_istex?lang=fr">
					<img src="img/ic_notifications.svg">
				</a>
			</li>
			<li id="header_services">
				<img src="img/ic_services.svg">
			</li>
		</ul>
	</nav>
	<div id="header_block_services">
		<div id="frame_services"></div>
		<span id="fleche_services"></span>
	</div>
</header>