@import url("https://fonts.googleapis.com/css?family=Montserrat");

#istex_web_header * {
  box-sizing: content-box;
}

#istex_web_header,
#iwh_header_nav,
#iwh_header_ul {
  width: 100%;
}

#istex_web_header {
  background-color: #242b32;
  height: 48px;
  display: flex;
  border-bottom: solid 2px #ffffff;
  font-size: 12px;
  line-height: 0;
}

#istex_web_header *:hover {
  opacity: 1;
}

#istex_web_header *::after,
#istex_web_header *::before {
  content: none;
}

#iwh_header_nav,
#iwh_header_ul {
  display: inherit;
  height: 100%;
}

#iwh_header_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#iwh_header_ul a {
  display: inline;
  padding: 0;
}

#iwh_header_logo {
  padding: 0;
  margin-top: 17px;
  height: 15px;
  position: absolute;
  left: 50%;
  margin-left: -32px;
}

#iwh_header_services,
#iwh_header_notif {
  margin-top: 12px;
  height: 25px;
  margin-right: 3%;
}

#iwh_header_services:hover {
  cursor: pointer;
}

#iwh_header_notif {
  margin-left: auto;
}

#iwh_header_nav img {
  height: 100%;
}

#iwh_header_block_services > div,
#iwh_header_block_services > span {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 99999;
}

#iwh_header_block_services.on > div,
#iwh_header_block_services.on > span {
  opacity: 1;
  visibility: visible;
}

#iwh_header_block_services.off > div,
#iwh_header_block_services.off > span {
  opacity: 0;
  visibility: hidden;
}

#iwh_fleche_services {
  position: absolute;
  right: 3%;
  margin-right: 2.5px;
  top: 50px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
}

#iwh_popin_services {
  position: absolute;
  right: 2%;
  top: 60px;
  width: 295px;
  border: solid 1px #ffffff;
  background-color: #242b32;
  color: #ffffff;
}

#iwh_popin_services_ul {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 0;
}

.iwh_popin_services {
  list-style: none;
  display: inline-block;
  text-align: center;
}

.iwh_services_lien:link,
.iwh_services_lien:visited,
.iwh_services_lien:active {
  display: block;
  width: 75px;
  height: 75px;
  padding: 5px;
  margin: 5px;
  color: #ffffff;
  text-decoration: none;
}

.iwh_services_lien div {
  transform: translateY(15%);
}

.iwh_services_lien:hover {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #c4d733;
  padding: 4px;
  border: solid 1px #ffffff;
  background-color: #458ca5;
  border-radius: 2px;
}

#iwh_popin_services img {
  width: 32px;
  height: 32px;
}

#iwh_popin_services p {
  margin: 1em 0;
  font-family: "Montserrat", sans-serif;
}

.ihw_services_text_hover {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  line-height: 1;
  font-size: 0.75em;
  transform: translate(5px, -15px);
  width: 75px;
  padding: 4px;
  border: solid 1px #ffffff;
  background-color: #242b32;
  border-radius: 2px;
  z-index: 1;
}

.iwh_services_lien:hover ~ .ihw_services_text_hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  visibility: visible;
  opacity: 1;
}
