@import url("https://fonts.googleapis.com/css?family=Montserrat");
#istex_web_header * {
  box-sizing: border-box;
}

#istex_web_header,
#iwh_header_nav,
#iwh_header_ul {
  width: 100%;
}

#istex_web_header {
  background-color: #242b32;
  height: 48px;
  display: flex;
  border-bottom: solid 2px #ffffff;
  font-size: 12px;
  line-height: 1;
}

#istex_web_header *:hover {
  opacity: 1;
}

#istex_web_header *::after,
#istex_web_header *::before {
  content: none;
}

#iwh_header_nav,
#iwh_header_ul {
  display: inherit;
  height: 100%;
}

#iwh_header_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#iwh_header_ul a {
  display: inline;
  padding: 0;
}

#iwh_header_logo {
  padding: 0;
  margin-top: 17px;
  height: 15px;
  position: absolute;
  left: 50%;
  margin-left: -32px;
}

#iwh_header_services,
#iwh_header_notif {
  margin-top: 12px;
  height: 25px;
  margin-right: 3%;
}

#iwh_header_services:hover,
#iwh_header_menu:hover {
  cursor: pointer;
}

#iwh_header_notif {
  margin-left: auto;
}

#iwh_header_menu {
  margin-left: 3%;
  margin-top: 15px;
  height: 19px;
}

#iwh_header_nav img {
  height: 100%;
}

#iwh_popin_menu {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: absolute;
  left: 0;
  top: 49px;
  background-color: #242b32;
  margin: 0;
  display: flex;
  align-items: center;
  color: #ffffff;
}

#iwh_popin_menu.on {
  transform: translateX(0);
}

#iwh_popin_menu.off {
  transform: translateX(-100%);
}

#iwh_popin_menu_ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

.iwh_popin_menu_a {
  display: block;
  border: solid 1px #ffffff;
  border-left: none;
  width: 100%;
  text-decoration: none;
  color: #c4d733;
  padding: 20px;
  font-size: 1.6em;
  font-family: Montserrat;
  z-index: 99999;
}

.iwh_popin_menu_a:hover {
  text-decoration: underline;
  color: #ffffff;
  background-color: #458ca5;
  text-decoration-color: #c4d733;
}

.iwh_popin_menu_a > img {
  vertical-align: text-bottom;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

#iwh_header_block_services > div,
#iwh_header_block_services > span {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 99999;
}

#iwh_header_block_services.on > div,
#iwh_header_block_services.on > span {
  opacity: 1;
  visibility: visible;
}

#iwh_header_block_services.off > div,
#iwh_header_block_services.off > span {
  opacity: 0;
  visibility: hidden;
}

#iwh_fleche_services,
#iwh_fleche_services_border {
  position: absolute;
  right: 3%;
  border-style: solid;
  border-top: none;
}

#iwh_fleche_services {
  top: 51px;
  margin-right: 1.5px;
  border-color: transparent transparent #242b32 transparent;
  border-width: 11px;
}

#iwh_fleche_services_border {
  top: 50px;
  margin-right: 1.5px;
  border-color: transparent transparent #ffffff transparent;
  border-width: 11px;
}

#iwh_popin_services {
  position: absolute;
  right: 2%;
  top: 60px;
  width: 300px;
  border: solid 1px #ffffff;
  background-color: #242b32;
  color: #ffffff;
}

#iwh_popin_services_ul {
  width: auto;
  height: 100%;
  padding: 5px;
  margin: 0 auto;
}

.iwh_popin_services {
  position: relative;
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 5px;
  box-sizing: content-box;
  width: calc(100% / 3 - 10px);
  padding-top: calc(100% / 3 - 10px);
}

.iwh_services_lien:link,
.iwh_services_lien:visited,
.iwh_services_lien:active {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 4px;
  border: solid 1px transparent;
  color: #ffffff;
  width: auto;
  text-decoration: none;
  overflow: hidden;
}

.iwh_services_lien:hover {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #c4d733;
  border: solid 1px #ffffff;
  background-color: #458ca5;
  border-radius: 2px;
}

.iwh_services_lien_block {
  width: 100%;
  height: 100%;
  transform: translateY(10%);
}

.iwh_services_lien_block_img {
  position: relative;
  width: 50%;
  padding-top: 50%;
  height: 0;
  margin: auto;
}

.iwh_services_lien_block_img img {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.iwh_services_lien p {
  line-height: 1;
  margin: 20% 0 0 0;
  font-family: "Montserrat", sans-serif;
}

@media all and (max-device-width: 1024px) {
  #iwh_popin_services {
    width: 400px;
  }
  #iwh_header_services,
  #iwh_header_notif {
    margin-right: 5%;
  }
  #iwh_header_menu {
    margin-left: 5%;
  }

  #iwh_fleche_services,
  #iwh_fleche_services_border {
    right: 5%;
  }
}

@media all and (max-device-width: 1024px) and (max-device-height: 512px) {
  #iwh_popin_services {
    right: 0;
    width: 100%;
  }
  #iwh_header_services,
  #iwh_header_notif {
    margin-right: 5%;
  }

  #iwh_header_menu {
    margin-left: 5%;
  }

  #iwh_fleche_services,
  #iwh_fleche_services_border {
    right: 5%;
  }

  .iwh_popin_services {
    width: calc(100% / 6 - 10px);
    padding-top: calc(100% / 6 - 10px);
  }
}

@media all and (max-device-width: 800px) and (max-device-height: 512px) {
  #iwh_popin_services {
    right: 0;
    width: 100%;
  }
  #iwh_header_services,
  #iwh_header_notif {
    margin-right: 5%;
  }

  #iwh_header_menu {
    margin-left: 5%;
  }

  #iwh_fleche_services,
  #iwh_fleche_services_border {
    right: 5%;
  }

  .iwh_popin_services {
    width: calc(100% / 5 - 10px);
    padding-top: calc(100% / 5 - 10px);
  }
}

@media all and (max-device-width: 512px) {
  #iwh_popin_services {
    right: 0;
    width: 100%;
  }

  #iwh_header_services,
  #iwh_header_notif {
    margin-right: 7%;
  }

  #iwh_header_menu {
    margin-left: 7%;
  }

  #iwh_fleche_services,
  #iwh_fleche_services_border {
    right: 7%;
  }
  .iwh_popin_services {
    width: calc(100% / 3 - 10px);
    padding-top: calc(100% / 3 - 10px);
  }
  #iwh_popin_menu {
    width: 100%;
  }
  .iwh_popin_menu_a {
    text-align: center;
    border-right: none;
    padding: 40px;
  }
}
